<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>END GAME</title>
</head>
<body style="background-color: #181A1B !important">
<script type="text/javascript" charset="utf-8">
    window.location.assign("/");
    alert(("You died, I'm sorry!"));
    alert(("I am redirecting you to the main page"));

</script>
</body>
</html>
